<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FFXIV_RotationHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FFXIV_RotationHelper.Properties.Settings>
      <setting name="Clickthrough" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="RestartOnEnd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="lastURL" serializeAs="String">
        <value />
      </setting>
    </FFXIV_RotationHelper.Properties.Settings>
  </userSettings>
</configuration>